/01-tuesday-exercises/Ex2-customer/target/
/01-tuesday-exercises/Ex2-customer/nbproject/
/FLOW1/01-tuesday-exercises/Ex2-customer/nbproject/
/FLOW1/01-tuesday-exercises/Ex2-customer/target/
/FLOW1/01-tuesday-exercises/point-opgave1/target/
/FLOW1/02-wedensday-exercises/rest-excercise/target/
